body{
  display: flex;
  justify-content: center; 
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.fond-rouge {
    background-color: #782221 ;
    display: block;
    height: 100% ;
    width:1160px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .photo-de-profil{
    display: block;
    height: 70px;
    width: 70px;  
    border-radius: 50%;
    margin-top: 50px;
  }
  .photo-de-profil:hover{
    cursor: zoom-in;
  }
  .nom-prenom{
   margin-top: 15px;
   font-size: 25px;
  }
  .nom-du-metier{
   margin-top: 15px;
   font-size: 18px;
  }
  .encadrer-noir{
    display: flex;
    background-color: #2c1d27;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  .info-perso{
    font-style: italic;
    margin: 0 30px;
  }
  .info-perso:hover{
    text-decoration: underline;
  }
  .tableau{
    display: flex;
  }
  .left-column{
    width: 30%;
    padding-right: 40px;
  
  }
  .right-column{
    width: 68%;
    padding:0 40px;
    background-color: #fff;
    color: black;
 }
.titre{
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #dbc2a4 ;
  padding-left: 20px;
  font-size: 22px;
  color: black;
  height: 32px;
}
.content{
  margin-left: 20px;
  text-align: justify;
}
.titre-a-carré-rouge{
  padding: 0;
}
.titre-a-carré-rouge::before{
  margin-right: 10px;
  display: inline-block;
  height: 34px;
  width: 15px;
background-color: #782221;
position: relative;
content: "";
}
.liste-icone{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}
.icone{
  margin: 0 10px;
  height: 20px;
  width: 20px;
}
.icone:hover{
  opacity: 0.5;
}
a{
  color: #fff;
  text-decoration: none;
}
.cv-items:hover::after{
  margin-left: 10px;
  display: inline-block;
  height: 14px;
  width: 5px;
background-color: #782221;
position: relative;
content: "";
}
footer{
  margin-bottom: 15px;
}
.indente{
  text-indent: 30px;
}